body {
    font-family: Trebuchet MS, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #454545;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: #454545;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7vh;
    line-height: 7vh;
}

.nav-bar {
    text-align: center;
    margin: 0;
    padding: 0 10px 0 10px;
    height: 100%;
}

header a {
    color: #454545;
    font-size: 3vh;
    text-decoration: none;
}

#light-mode-switch {
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#light-mode {
    margin: 0;
    height: 70%;
    width: auto;
    display: block;
}

main {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#tags-container {
    padding: 5px;
    margin: 0;
    border-right: 1px solid #b7b7b7;
    width: 20%;
    color: #ffffff;
}

#search-bar-container {
    width: 100%;
    margin: 15px 0 10px 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

#search {
    width: 12vw;
    text-align: left;
}

#search-button {
    color: #ffffff;
    background-color: rgba(183, 183, 183, 0.35);
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.tag-title {
    display: block;
    margin: 6px;
}

.tag-artists {
    display: block;
    margin: 4px;
    font-family: 'Lucida Console';
    font-size: 12px;
    color: #b70f0f;
    text-decoration: none;
}

.tag-characters {
    display: block;
    margin: 4px;
    font-family: 'Lucida Console';
    font-size: 12px;
    color: #138a36;
    text-decoration: none;
}

.tag-franchise {
    display: block;
    margin: 4px;
    font-family: 'Lucida Console';
    font-size: 12px;
    color: #d50a7a;
    text-decoration: none;
}

.tag-general {
    display: block;
    margin: 4px;
    font-family: 'Lucida Console';
    font-size: 12px;
    color: #35a7ff;
    text-decoration: none;
}

.tag-metadata {
    display: block;
    margin: 4px;
    font-family: 'Lucida Console';
    font-size: 12px;
    color: #fb8500;
    text-decoration: none;
}

#post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 0 50px;
    margin: auto;
    width: 80%;
    height: 93vh;
    width: 80%;
    overflow-y: auto;
    gap: 20px;
}

#post-container iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: none;
}

#likes-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-content: normal;
    color: #ffffff;
}

#likes-count {
    line-height: 0;
}

#likes-icon {
    margin-left: 5px;
    height: 30px;
    width: auto;
}

.like-button {
    background-color: rgba(183, 183, 183, 0.35);
    height: 20px;
    margin-left: 8px;
    padding: 5px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.like-button:active {
    position: relative;
    top: 1px;
}

.like-button:hover {
    background-color: rgba(210, 210, 210, 0.35);
}